.rev-counter {
  width: 180px;
  height: 52px;
  border-radius: 6px;
  box-sizing: border-box;
  display: inline-flex;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.rev-counter-value {
  margin: 0;
  padding: 0;
  width: 60px;
  text-align: center;
  border: unset;
  font-size: 16px;
  outline: unset;
}

.rev-counter-plus {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-left: 1px solid var(--rev-primary);
}

.rev-counter-minus {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

button.rev-counter-control {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  border: unset;
  outline: unset;
  background: var(--rev-bright);
}
