.rev-spinner,
.rev-spinner:after {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 4px;
}

.rev-spinner {
  position: relative;
  border-top: 4px solid var(--rev-shade);

  transform: translateZ(0);
  animation: rotate 1.1s infinite linear;
}

.rev-spinner.accent {
  border-right: 4px solid var(--rev-accent);
  border-bottom: 4px solid var(--rev-accent);
  border-left: 4px solid var(--rev-accent);
}

.rev-spinner.error {
  border-right: 4px solid var(--rev-error);
  border-bottom: 4px solid var(--rev-error);
  border-left: 4px solid var(--rev-error);
}

.rev-spinner.warning {
  border-right: 4px solid var(--rev-warning);
  border-bottom: 4px solid var(--rev-warning);
  border-left: 4px solid var(--rev-warning);
}

.rev-spinner.success {
  border-right: 4px solid var(--rev-success);
  border-bottom: 4px solid var(--rev-success);
  border-left: 4px solid var(--rev-success);
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
