.rev-heading {
  font-weight: 600;
}

.rev-heading-level-1 {
  font-size: 72px;
}

.rev-heading-level-2 {
  font-size: 64px;
}

.rev-heading-level-3 {
  font-size: 56px;
}

.rev-heading-level-4 {
  font-size: 34px;
}

.rev-heading-level-5 {
  font-size: 28px;
}

.rev-heading-level-6 {
  font-size: 20px;
}

.rev-paragraph {
  margin: 0;
  font-size: 16px;
}

.rev-paragraph.small {
  font-size: 14px;
}
