.rev-alert {
  background: var(--rev-bright);
  box-sizing: border-box;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 24px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 400;
  color: var(--rev-accent);
}

.rev-alert-dark {
  background: var(--rev-primary);
  color: var(--rev-bright);
  box-shadow: unset;
}

.rev-alert-success {
  background: var(--rev-success);
  color: var(--rev-bright);
  box-shadow: unset;
}

.rev-alert-accent {
  background: var(--rev-accent);
  color: var(--rev-bright);
  box-shadow: unset;
}

.rev-alert-error {
  background: var(--rev-error);
  color: var(--rev-bright);
  box-shadow: unset;
}

.rev-alert-warning {
  background: var(--rev-warning);
  color: var(--rev-bright);
  box-shadow: unset;
}

.rev-alert svg {
  cursor: pointer;
}
