.rev-avatar {
  height: 56px;
  width: 56px;
  display: flex;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background: var(--rev-muted);
  color: var(--rev-bright);
}
