@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap');
@import './rev-kit.css';

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
* {
  font-family: 'IBM Plex Sans', sans-serif;
}
