.rev-nav {
  overflow: hidden;
  background-color: var(--rev-bright);
}

.rev-nav-item {
  float: left;
  display: inline-flex;
  color: var(--rev-secondary);
  justify-content: center;
  align-items: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
}

.rev-nav-item.right {
  float: right;
}

.rev-nav-item.icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .rev-nav .rev-nav-item:not(:first-child) {
    display: none;
  }

  .rev-nav .rev-nav-item.icon {
    display: inline-flex;
  }
}

@media screen and (max-width: 600px) {
  .rev-nav.responsive {
    position: relative;
  }
  .rev-nav.responsive .rev-nav-item.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .rev-nav.responsive .rev-nav-item {
    float: none;
    display: block;
    text-align: left;
  }
}
